# MoMA plugins

Plugins>MoMA, "MoMA application processing a folder", com.jug.fijiplugins.MotherMachineDefaultPipelinePlugin
Plugins>MoMA, "MoMA application processing a singe file", com.jug.fijiplugins.MotherMachineDefaultPipelinePlugin("file")
Plugins>MoMA>Components, "MoMA", com.jug.fijiplugins.MotherMachineAnalyserPlugin
Plugins>MoMA>Components, "Apply MoMA to current image", com.jug.fijiplugins.MotherMachineAnalysisPluginFilter



